.detalle-container {
    display: flex;
    padding: 30px;
    gap: 30px;
}

.detalle-img-box img {
    width: 420px;
    border-radius: 14px;
}

.detalle-info {
    max-width: 600px;
}

.detalle-precio {
    font-size: 22px;
    margin-top: 10px;
}

.btn-comprar {
    padding: 12px 20px;
    background: #4f46e5;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

.comentarios-section {
    padding: 30px;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
}

.btn-guardar {
    padding: 10px 20px;
    background: #10b981;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.comentario-item {
    padding: 10px;
    background: #f8f8f8;
    border-radius: 8px;
    margin-top: 10px;
}
